<!DOCTYPE html>
<html>
    <head>
        <title>Build my CubeEngine</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        <div class="main-container">
            <h1>Build my CubeEngine!</h1>
            <ul id="module-list">
            </ul>
            <div>
                <button type="button" id="build-button">Build it!</button>
            </div>
        </div>
        <script src="@routes.Assets.at("lib/jquery/jquery.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
    </body>
</html>